<!-- {% extends "base.html" %} -->

{% block content %}

<!-- banner-2 -->
<div class="page-head_agile_info_w3l inner-about-page">
	<div class="container py-5">
		<h3 class="title-style text-white pt-5">Few Words about <span>Us</span></h3>
		<ul class="w3_short pt-3 pb-5">
			<li>
				<a href="/" class="text-white">Home</a>
				<i class="fa fa-angle-right mx-2 text-white" aria-hidden="true"></i>
			</li>
			<li class="text-light">Contact Us</li>
		</ul>
	</div>
</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">

	</div>
</div>
<!-- //page -->
<div style="margin: 8px auto; display: block; text-align:center;">

	<!---728x90--->


</div>
<!-- about section -->
<section class="w3l-about-2 py-5">
	<div class="container py-md-5 py-4">
		<div class="row align-items-center justify-content-between">
			<div class="col-lg-6 about-2-secs-left pr-lg-5">
				<h3 class="title-style-2 mb-sm-3 mb-2"><span class="font-weight-bold">We Work</span> for your best
					Success
				</h3>
				<p>Consectetur adipiscing elit. Aliquam sit amet
					efficitur tortor.Uspendisse efficitur orci urna. In et augue ornare, tempor massa in, luctus
					sapien.</p>
				<ul class="list-about-2 list-unstyled mt-sm-4 mt-3">
					<li class="py-1"><i class="fas fa-check-square mr-2"></i>Ut enim ad minim
						veniam</li>
					<li class="py-2"><i class="fas fa-check-square mr-2"></i>Quis nostrud
						exercitation ullamco laboris</li>
					<li class="py-1"><i class="fas fa-check-square mr-2"></i>Nisi ut aliquip ex
						ea commodo consequat</li>
				</ul>
				<div class="mt-4">
					<a class="btn btn-style" href="/product_2">View Our Products</a>
				</div>
			</div>
			<div class="col-lg-6 about-2-secs-right mt-lg-0 mt-5">
				<img src="/static/images/about2.png" alt="" class="img-fluid img-responsive" />
			</div>
		</div>
	</div>
</section>
<!-- //about section -->

<!-- clients section -->
<div class="w3l-cutomer py-5">
	<div class="container py-md-5 py-4">
		<div style="max-width:700px" class="mb-5">
			<h3 class="title-style-2 text-white mb-2">Our <span class="font-weight-bold">Customer </span>
				Says
			</h3>
			<p class="text-light">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
				doloremque, eaque ipsa
				quae ab illo inventore.</p>
		</div>
		<div class="row content-sec">
			<div class="col-lg-4 col-md-6 testi-sections">
				<div class="testimonials_grid">
					<p class="sub-test"><q>
							Nam libero tempore, cum soluta
							nobis est eligendi optio cumque nihil impedit.</q>
					</p>
					<div class="d-grid sub-author-con">
						<div class="testi-img-res">
							<img src="/static/images/testi2.jpg" alt="" class="img-fluid" />
						</div>
						<div class="testi_grid text-left">
							<h5>Petey Cruis</h5>
							<p>Caption Here</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-md-0 mt-4 testi-sections">
				<div class="testimonials_grid">
					<p class="sub-test"><q>
							Nam
							libero
							tempore, cum soluta
							nobis est eligendi optio cumque nihil impedit.</q>
					</p>
					<div class="d-grid sub-author-con">
						<div class="testi-img-res">
							<img src="images/testi1.jpg" alt="" class="img-fluid" />
						</div>
						<div class="testi_grid text-left">
							<h5>Molive Joe</h5>
							<p>Caption Here</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4 testi-sections">
				<div class="testimonials_grid">
					<p class="sub-test"><q>
							Nam
							libero
							tempore, cum soluta
							nobis est eligendi optio cumque nihil impedit.</q>
					</p>
					<div class="d-grid sub-author-con">
						<div class="testi-img-res">
							<img src="images/testi3.jpg" alt="" class="img-fluid" />
						</div>
						<div class="testi_grid text-left">
							<h5>Paige Turner</h5>
							<p>Caption Here</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- //clients section -->
<div style="margin: 8px auto; display: block; text-align:center;">

	<!---728x90--->

</div>
{% endblock %}