{% extends "base.html" %}

{% block content %}
<!-- banner-2 -->
<div class="page-head_agile_info_w3l inner-contact-page">
    <div class="container py-5">
        <h3 class="title-style text-white pt-5"><span>Blog Single</span> Page</h3>
        <ul class="w3_short pt-3 pb-5">
            <li>
                <a href="/" class="text-white">Home</a>
                <i class="fa fa-angle-right mx-2 text-white" aria-hidden="true"></i>
            </li>
            <li class="text-light">Blog Single</li>
        </ul>
    </div>
</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">

    </div>
</div>
<!-- //page -->
<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->


</div>
<!-- blog page -->
<section class="w3l-text-11 py-5 topscroll">
    <div class="text11 py-md-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 text11-content">
                    <img src="/static/images/blog-single.jpg" class="img-fluid" alt="">
                    <h4 class="">At vero eos et accusamus et iusto odio qui</h4>
                    <h6>Feb 12, 2021</h6>
                    <a href="#admin" class="admin">- by Maureen Bio</a>
                    <p class="mt-4 mb-3">Fusce faucibus ante vitae justo efficitur elementum. Donec et ipsum
                        faucibus
                        arcu
                        ipsum elementum, luctus justo. ac purus semper. Fusce faucibus ante vitae justo efficitur
                        sed et
                        elementum. Donec ipsum
                        faucibus arcu elementum, luctus justo. ac purus semper. Fusce faucibus ante vitae justo
                        efficitur
                        elementum. Donec ipsum faucibus arcu...</p>
                    <p class="mb-4">Lorem faucibus fusce ante vitae justo efficitur elementum. Donec ipsum faucibus
                        arcu elementum, luctus justo. ac purus semper. Fusce faucibus ante vitae justo efficitur
                        elementum. Donec ipsum faucibus. Donec ipsum faucibus arcu elementum..</p>

                    <p class="mb-3">Lorem faucibus fusce ante vitae justo efficitur elementum. Donec ipsum faucibus
                        arcu elementum, luctus justo. ac purus semper. Fusce faucibus ante vitae justo efficitur
                        elementum. Donec ipsum faucibus. Donec ipsum faucibus arcu elementum..</p>

                    <p class="mb-3">Lorem faucibus fusce ante vitae justo efficitur elementum. Donec ipsum faucibus
                        arcu elementum, luctus justo. ac purus semper. Fusce faucibus ante vitae justo efficitur
                        elementum. Donec ipsum faucibus. Donec ipsum faucibus arcu elementum..</p>
                    <div class="item mt-5">
                        <h3 class="aside-title">Maybe You are Interested in </h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="list-view list-view1">
                                    <div class="grids5-info">
                                        <a href="/blog_single" class="d-block zoom"><img src="/static/images/blog-s1.jpg"
                                                alt="" class="img-fluid radius-image news-image"></a>
                                        <div class="blog-info align-self">
                                            <a href="/blog_single" class="blog-desc1">
                                                Ut voluptates repudiandae sint et mole
                                            </a>
                                            <div class="author align-items-center mb-1">
                                                <a href="#">Maureen Bio</a> in <a href="#url">Ideas</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-lg-0 mt-5">
                                <div class="list-view list-view1">
                                    <div class="grids5-info">
                                        <a href="/blog_single" class="d-block zoom"><img src="/static/images/blog-s3.jpg"
                                                alt="" class="img-fluid radius-image news-image"></a>
                                        <div class="blog-info align-self">
                                            <a href="/blog_single" class="blog-desc1">Maiores alias consequatur
                                                aut</a>
                                            <div class="author align-items-center mb-1">
                                                <a href="#">Maureen Bio</a> in <a href="#url">Design</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <p class="mb-3 mt-5">Lorem faucibus fusce ante vitae justo efficitur elementum. Donec ipsum
                            faucibus
                            arcu elementum, luctus justo. ac purus semper. Fusce faucibus ante vitae justo efficitur
                            elementum. Donec ipsum faucibus. Donec ipsum faucibus arcu elementum..</p>

                        <p class="mb-3">Lorem faucibus fusce ante vitae justo efficitur elementum. Donec ipsum
                            faucibus
                            arcu elementum, luctus justo. ac purus semper. Fusce faucibus ante vitae justo efficitur
                            elementum. Donec ipsum faucibus. Donec ipsum faucibus arcu elementum..</p>
                    </div>


                    <div class="social-share-blog mt-5">
                        <ul class="column3 social m-0 p-0">
                            <li>
                                <p class="m-0 mr-4">Share this post :</p>
                            </li>
                            <li><a href="#facebook" class="facebook"><span class="fab fa-facebook-f"></span></a>
                            </li>
                            <li><a href="#twitter" class="twitter"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#instagram" class="instagram"><span class="fab fa-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                    <nav class="post-navigation row mt-5 py-4">
                        <div class="post-prev col-6 pr-sm-5">
                            <span class="nav-title">
                                <span class="fa fa-long-arrow-left mr-2"></span> Prev Post </span>

                        </div>
                        <div class="post-next col-6 pl-sm-5 text-right">
                            <span class="nav-title">
                                Next Post <span class="fa fa-long-arrow-right ml-2"> </span><span
                                    class="next-post pull-right"></span> </span>
                        </div>
                    </nav>
                    <div class="comments">
                        <h3 class="aside-title ">Recent comments(2)</h3>
                        <div class="comments-grids">
                            <div class="media-grid">
                                <div class="media">
                                    <a class="comment-img" href="#url"><img src="/static/images/testi1.jpg" class="img-fluid"
                                            width="100px" alt="placeholder image"></a>
                                    <div class="media-body comments-grid-right">
                                        <h5>Jack Harry</h5>
                                        <ul class="p-0 comment">
                                            <li class="">Sep 17th, 2021 at 11:00 am</li>
                                            <li>
                                                <a href="#comment" class="replay"><span
                                                        class="fa fa-share-square-o mr-1" aria-hidden="true"></span>
                                                    Reply</a>
                                            </li>
                                        </ul>
                                        <p>Mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus
                                            quis
                                            tempor. Phasellus ipsum bibendum eu nec purus quis tempor dolor set.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="media-grid">
                                <div class="media">
                                    <a class="comment-img" href="#url"><img src="/static/images/testi2.jpg" class="img-fluid"
                                            width="100px" alt="placeholder image"></a>
                                    <div class="media-body comments-grid-right">
                                        <h5>Charlie</h5>
                                        <ul class="p-0 comment">
                                            <li class="">Sep 17th, 2021 at 05:45 pm </li>
                                            <li>
                                                <a href="#comment" class="replay"><span
                                                        class="fa fa-share-square-o mr-1" aria-hidden="true"></span>
                                                    Reply</a>
                                            </li>
                                        </ul>
                                        <p>Mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus
                                            quis
                                            tempor. Phasellus eu nec purus quis tempor.
                                        </p>
                                        <div class="media mb-0 border-0 px-0 media-2 mt-5">
                                            <a class="comment-img" href="#url"><img src="/static/images/testi3.jpg"
                                                    class="img-fluid" width="100px" alt="placeholder image"></a>
                                            <div class="media-body comments-grid-right">
                                                <h5>Jack Harry</h5>
                                                <ul class="p-0 comment">
                                                    <li class="">Sep 17th, 2021 at 11:00 am</li>
                                                    <li>
                                                        <a href="#comment" class="replay"><span
                                                                class="fa fa-share-square-o mr-1"
                                                                aria-hidden="true"></span> Reply</a>
                                                    </li>
                                                </ul>
                                                <p>Mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec
                                                    purus quis
                                                    tempor. dolor set.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leave-comment-form" id="comment">
                        <h3 class="aside-title">Leave a Comment</h3>
                        <form action="#" method="post">
                            <div class="input-grids">
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <input type="text" name="Name" class="form-control" placeholder="Name"
                                            required="">
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <input type="email" name="Email" class="form-control" placeholder="Email"
                                            required="">
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <input type="text" name="Website" class="form-control" placeholder="Website"
                                            required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea name="Comment" class="form-control" placeholder="Your Comment"
                                        required=""></textarea>
                                </div>

                            </div>
                            <div class="submit text-right">
                                <button class="btn btn-style btn-primary">Post Comment
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar-side col-xl-3 col-lg-4 mt-lg-0 mt-5">
                    <aside class="sidebar">
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h4>Categories</h4>
                            </div>
                            <ul class="blog-cat">
                                <li><a href="#link"> Electronics
                                        <label>4</label></a></li>
                                <li><a href="#link"> Accessories
                                        <label>8</label></a></li>
                                <li><a href="#link"> Headphones
                                        <label>8</label></a></li>
                                <li><a href="#link"> Home Audio
                                        <label>3</label></a></li>
                            </ul>
                        </div>
                        <!-- Popular Post Widget-->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title">
                                <h4>Recent Posts</h4>
                            </div>
                            <article class="post">
                                <figure class="post-thumb"><img src="/static/images/blog-s1.jpg" alt=""></figure>
                                <div class="text"><a href="/blog_single">Sed do eiusmod tempor ut </a>
                                </div>
                                <div class="post-info">Feb 11, 2021</div>
                            </article>

                            <article class="post">
                                <figure class="post-thumb"><img src="/static/images/blog-s4.jpg" alt=""></figure>
                                <div class="text"><a href="/blog_single">Et dolore magna aliqua
                                    </a></div>
                                <div class="post-info">Feb 22, 2021</div>
                            </article>

                            <article class="post">
                                <figure class="post-thumb"><img src="/static/images/blog-s3.jpg" alt=""></figure>
                                <div class="text"><a href="/blog_single">Amkmm Ut enim ad minim</a>
                                </div>
                                <div class="post-info">Feb 13, 2021</div>
                            </article>

                            <article class="post">
                                <figure class="post-thumb"><img src="/static/images/blog-s2.jpg" alt=""></figure>
                                <div class="text"><a href="/blog_single">Amkmm Ut enim ad minim</a>
                                </div>
                                <div class="post-info">Feb 14, 2021</div>
                            </article>
                        </div>

                        <!-- sidebar sticky -->
                        <div class="sidebar-sticky">
                            <div class="sidebar-sticky-fix">
                                <!--Gallery Widget-->
                                <div class="sidebar-widget instagram-widget">
                                    <div class="sidebar-title">
                                        <h4>Gallery</h4>
                                    </div>
                                    <div class="images-outer clearfix">
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g1.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g2.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g3.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g6.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g5.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g4.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g7.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g8.jpg" alt=" " class="img-fluid" />
                                        </a>
                                    </div>
                                </div>

                                <!-- Tags Widget-->
                                <div class="sidebar-widget popular-tags">
                                    <div class="sidebar-title">
                                        <h4>Tags</h4>
                                    </div>
                                    <a href="#url">electronics</a>
                                    <a href="#url">iphone</a>
                                    <a href="#url">tech</a>
                                    <a href="#url">smart</a>
                                    <a href="#url">refrigerator</a>
                                    <a href="#url">ac</a>
                                    <a href="#url">technic</a>
                                </div>
                                <!-- Subscribe Widget-->

                            </div>
                        </div>
                        <!-- //sidebar sticky -->
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //blog page -->
<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->

</div>
{% endblock %}
