{% extends "base.html" %}

{% block content %}
<!-- banner-2 -->
<div class="page-head_agile_info_w3l inner-contact-page">
    <div class="container py-5">
        <h3 class="title-style text-white pt-5"><span>Blog</span> Posts</h3>
        <ul class="w3_short pt-3 pb-5">
            <li>
                <a href="/" class="text-white">Home</a>
                <i class="fa fa-angle-right mx-2 text-white" aria-hidden="true"></i>
            </li>
            <li class="text-light">Blog Posts</li>
        </ul>
    </div>
</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">

    </div>
</div>
<!-- //page -->
<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->


</div>
<!-- blog page -->
<section class="w3l-text-11 py-5">
    <div class="text11 py-md-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 text11-content">
                    <div class="item">
                        <div class="card">
                            <div class="card-header p-0 position-relative border-0">
                                <a href="/blog_single">
                                    <img class="d-block img-fluid" src="/static/images/blog1.jpg" alt="Card image cap">
                                </a>
                            </div>
                            <div class="card-body p-0 pt-4 pb-3 blog-details">
                                <h6>Feb 22, 2021</h6>
                                <a href="#admin" class="admin">- by Maureen Bio</a>
                                <br>
                                <a href="/blog_single" class="blog-desc">Sed ut perspiciatis unde omnis iste
                                    natus</a>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum
                                    laboriosam
                                    voluptate soluta est obcaecati, quam aperiam nam natus dicta tenetur? Dolore.
                                </p>
                                <a href="/blog_single" class="btn btn-style mt-lg-4 mt-3">Read
                                    more</a>
                            </div>
                        </div>
                    </div>
                    <div class="item mt-5">
                        <div class="card">
                            <div class="card-header p-0 position-relative border-0">
                                <a href="/blog_single">
                                    <img class="d-block img-fluid" src="/static/images/blog2.jpg" alt="Card image cap">
                                </a>
                            </div>
                            <div class="card-body p-0 pt-4 pb-3 blog-details">
                                <h6>Feb 22, 2021</h6>
                                <a href="#admin" class="admin">- by Maureen Bio</a>
                                <br>
                                <a href="/blog_single" class="blog-desc">Nemo enim ipsam quia sit aspernatur aut
                                    odit</a>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum
                                    laboriosam
                                    voluptate soluta est obcaecati, quam aperiam nam natus dicta tenetur? Dolore.
                                </p>
                                <a href="/blog_single" class="btn btn-style mt-lg-4 mt-3">Read
                                    more</a>
                            </div>
                        </div>
                    </div>
                    <div class="item mt-5">
                        <div class="card">
                            <div class="card-header p-0 position-relative border-0">
                                <a href="/blog_single">
                                    <img class="d-block img-fluid" src="/static/images/blog3.jpg" alt="Card image cap">
                                </a>
                            </div>
                            <div class="card-body p-0 pt-4 pb-3 blog-details">
                                <h6>Feb 22, 2021</h6>
                                <a href="#admin" class="admin">- by Maureen Bio</a>
                                <br>
                                <a href="/blog_single" class="blog-desc">Ut enim ad minima, quis nostrum
                                    eationem</a>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum
                                    laboriosam
                                    voluptate soluta est obcaecati, quam aperiam nam natus dicta tenetur? Dolore.
                                </p>
                                <a href="/blog_single" class="btn btn-style mt-lg-4 mt-3">Read
                                    more</a>
                            </div>
                        </div>
                    </div>
                    <div class="item mt-5">
                        <div class="card">
                            <div class="card-header p-0 position-relative border-0">
                                <a href="/blog_single">
                                    <img class="d-block img-fluid" src="/static/images/blog4.jpg" alt="Card image cap">
                                </a>
                            </div>
                            <div class="card-body p-0 pt-4 pb-3 blog-details">
                                <h6>Feb 22, 2021</h6>
                                <a href="#admin" class="admin">- by Maureen Bio</a>
                                <br>
                                <a href="/blog_single" class="blog-desc">At eos et accusamus et iusto odio
                                    ssimos duci</a>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum
                                    laboriosam
                                    voluptate soluta est obcaecati, quam aperiam nam natus dicta tenetur? Dolore.
                                </p>
                                <a href="/blog_single" class="btn btn-style mt-lg-4 mt-3">Read
                                    more</a>
                            </div>
                        </div>
                    </div>
                    <!-- pagination -->
                    <div class="pagination-style">
                        <ul>
                            <li> <a href="#none" class="not-allowed" disabled="">
                                    <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li><a class="active" href="#page">1</a></li>
                            <li>
                                <a href="#page">2</a>
                            </li>
                            <li>
                                <a href="#page">3</a>
                            </li>
                            <li>
                                <a href="#page"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //pagination -->
                </div>
                <div class="sidebar-side col-xl-3 col-lg-4 mt-lg-0 mt-5">
                    <aside class="sidebar">
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h4>Categories</h4>
                            </div>
                            <ul class="blog-cat">
                                <li><a href="#link"> Electronics
                                        <label>4</label></a></li>
                                <li><a href="#link"> Accessories
                                        <label>8</label></a></li>
                                <li><a href="#link"> Headphones
                                        <label>8</label></a></li>
                                <li><a href="#link"> Home Audio
                                        <label>3</label></a></li>
                            </ul>
                        </div>
                        <!-- Popular Post Widget-->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title">
                                <h4>Recent Posts</h4>
                            </div>
                            <article class="post">
                                <figure class="post-thumb"><img src="/static/images/blog-s1.jpg" alt=""></figure>
                                <div class="text"><a href="/blog_single">Sed do eiusmod tempor ut </a>
                                </div>
                                <div class="post-info">Feb 11, 2021</div>
                            </article>

                            <article class="post">
                                <figure class="post-thumb"><img src="/static/images/blog-s4.jpg" alt=""></figure>
                                <div class="text"><a href="/blog_single">Et dolore magna aliqua
                                    </a></div>
                                <div class="post-info">Feb 22, 2021</div>
                            </article>

                            <article class="post">
                                <figure class="post-thumb"><img src="/static/images/blog-s3.jpg" alt=""></figure>
                                <div class="text"><a href="/blog_single">Amkmm Ut enim ad minim</a>
                                </div>
                                <div class="post-info">Feb 13, 2021</div>
                            </article>

                            <article class="post">
                                <figure class="post-thumb"><img src="/static/images/blog-s2.jpg" alt=""></figure>
                                <div class="text"><a href="/blog_single">Amkmm Ut enim ad minim</a>
                                </div>
                                <div class="post-info">Feb 14, 2021</div>
                            </article>
                        </div>

                        <!-- sidebar sticky -->
                        <div class="sidebar-sticky">
                            <div class="sidebar-sticky-fix">
                                <!--Gallery Widget-->
                                <div class="sidebar-widget instagram-widget">
                                    <div class="sidebar-title">
                                        <h4>Gallery</h4>
                                    </div>
                                    <div class="images-outer clearfix">
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g1.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g2.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g3.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g6.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g5.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g4.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g7.jpg" alt=" " class="img-fluid" />
                                        </a>
                                        <!--Image Box-->
                                        <a href="/blog_single">
                                            <img src="/static/images/g8.jpg" alt=" " class="img-fluid" />
                                        </a>
                                    </div>
                                </div>

                                <!-- Tags Widget-->
                                <div class="sidebar-widget popular-tags">
                                    <div class="sidebar-title">
                                        <h4>Tags</h4>
                                    </div>
                                    <a href="#url">electronics</a>
                                    <a href="#url">iphone</a>
                                    <a href="#url">tech</a>
                                    <a href="#url">smart</a>
                                    <a href="#url">refrigerator</a>
                                    <a href="#url">ac</a>
                                    <a href="#url">technic</a>
                                </div>
                                <!-- Subscribe Widget-->

                            </div>
                        </div>
                        <!-- //sidebar sticky -->
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //blog page -->
<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->

</div>
{% endblock %}
