{% extends "base.html" %}

{% block content %}
<div class="page-head_agile_info_w3l inner-checkout-page">
	<div class="container py-5">
		<h3 class="title-style text-white pt-5"><span>Checkout</span> Page</h3>
		<ul class="w3_short pt-3 pb-5">
			<li>
				<a href="/" class="text-white">Home</a>
				<i class="fa fa-angle-right mx-2 text-white" aria-hidden="true"></i>
			</li>
			<li class="text-light">Checkout</li>
		</ul>
	</div>
</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">

	</div>
</div>
<!-- //page -->
<div style="margin: 8px auto; display: block; text-align:center;">

	<!---728x90--->


</div>
<!-- checkout page -->
<div class="privacy py-5">
	<div class="container py-md-5 py-4">
		<div class="checkout-right">
			<h4 class="mb-sm-4 mb-3">Your shopping cart contains:
				<span>3 Products</span>
			</h4>
			<div class="table-responsive">
				<table class="timetable_sub">
					<thead>
						<tr>
							<th>SL No.</th>
							<th>Product</th>
							<th>Quality</th>
							<th>Product Name</th>

							<th>Price</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						<tr class="rem1">
							<td class="invert">1</td>
							<td class="invert-image">
								<a href="/single">
									<img src="/static/images/k1.png" alt=" " class="img-responsive">
								</a>
							</td>
							<td class="invert">
								<div class="quantity">
									<div class="quantity-select">
										<div class="entry value-minus">&nbsp;</div>
										<div class="entry value">
											<span>1</span>
										</div>
										<div class="entry value-plus active">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="invert">Samsung Galaxy F62</td>
							<td class="invert">$499.00</td>
							<td class="invert">
								<div class="rem">
									<div class="close1"> </div>
								</div>
							</td>
						</tr>
						<tr class="rem2">
							<td class="invert">2</td>
							<td class="invert-image">
								<a href="/single_2">
									<img src="/static/images/k2.png" alt=" " class="img-responsive">
								</a>
							</td>
							<td class="invert">
								<div class="quantity">
									<div class="quantity-select">
										<div class="entry value-minus">&nbsp;</div>
										<div class="entry value">
											<span>1</span>
										</div>
										<div class="entry value-plus active">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="invert">Refrigerator 3Star</td>
							<td class="invert">$699.00</td>
							<td class="invert">
								<div class="rem">
									<div class="close2"> </div>
								</div>
							</td>
						</tr>
						<tr class="rem3">
							<td class="invert">3</td>
							<td class="invert-image">
								<a href="/single">
									<img src="/static/images/k4.png" alt=" " class="img-responsive">
								</a>
							</td>
							<td class="invert">
								<div class="quantity">
									<div class="quantity-select">
										<div class="entry value-minus">&nbsp;</div>
										<div class="entry value">
											<span>1</span>
										</div>
										<div class="entry value-plus active">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="invert">FOOLPROOF Cover</td>
							<td class="invert">$299.00</td>
							<td class="invert">
								<div class="rem">
									<div class="close3"> </div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="checkout-left">
			<div class="address_form_agile mt-sm-5 mt-4">
				<h4 class="mb-sm-4 mb-3">Add a new Details</h4>
				<form
					action="https://p.w3layouts.com/demos_new/template_demo/11-06-2021/electronics-mart-liberty-demo_Free/1081434887/web//payment"
					method="post" class="creditly-card-form agileinfo_form">
					<div class="creditly-wrapper wthree, w3_agileits_wrapper">
						<div class="information-wrapper">
							<div class="first-row">
								<div class="controls form-group">
									<input class="billing-address-name form-control" type="text" name="name"
										placeholder="Full Name" required="">
								</div>
								<div class="w3_agileits_card_number_grids">
									<div class="w3_agileits_card_number_grid_left form-group">
										<div class="controls">
											<input type="text" class="form-control" placeholder="Mobile Number"
												name="number" required="">
										</div>
									</div>
									<div class="w3_agileits_card_number_grid_right form-group">
										<div class="controls">
											<input type="text" class="form-control" placeholder="Landmark"
												name="landmark" required="">
										</div>
									</div>
								</div>
								<div class="controls form-group">
									<input type="text" class="form-control" placeholder="Town/City" name="city"
										required="">
								</div>
								<div class="controls form-group">
									<select class="option-w3ls">
										<option>Select Address type</option>
										<option>Office</option>
										<option>Home</option>
										<option>Commercial</option>

									</select>
								</div>
							</div>
							<button class="submit check_out btn">Delivery to this Address</button>
						</div>
					</div>
				</form>
				<div class="checkout-right-basket">
					<a href="/payment">Make a Payment
						<span class="far fa-hand-point-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //checkout page -->

<!-- middle section -->
<div class="join-w3l1 py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<div class="row">
			<div class="col-lg-6">
				<a href="/product_2">
					<div class="join-agile text-left p-4">
						<div class="row">
							<div class="col-sm-7 offer-name">
								<h6>New Collections, New Trendy</h6>
								<h4 class="mb-3">Smart Watches</h4>
								<p>Sale up to 25% off all in store</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="/static/images/off1.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-6 mt-lg-0 mt-4">
				<a href="/product">
					<div class="join-agile text-left p-4">
						<div class="row ">
							<div class="col-sm-7 offer-name">
								<h6>Top Brands, lowest Prices</h6>
								<h4 class="mb-3">Smart Phones</h4>
								<p>Free shipping order over $100</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="/static/images/off2.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- middle section -->
<div style="margin: 8px auto; display: block; text-align:center;">

	<!---728x90-->

</div>
{% endblock  %}