{% extends "base.html" %}

{% block content %}
<!-- banner-2 -->
<div class="page-head_agile_info_w3l inner-contact-page">
	<div class="container py-5">
		<h3 class="title-style text-white pt-5">Contact with <span>Us</span></h3>
		<ul class="w3_short pt-3 pb-5">
			<li>
				<a href="/" class="text-white">Home</a>
				<i class="fa fa-angle-right mx-2 text-white" aria-hidden="true"></i>
			</li>
			<li class="text-light">Contact Us</li>
		</ul>
	</div>
</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">

	</div>
</div>
<!-- //page -->
<div style="margin: 8px auto; display: block; text-align:center;">

	<!---728x90--->


</div>
<!-- contact page -->
<section class="w3l-contact py-5" id="contact">
	<div class="container py-md-5 py-4">
		<div class="mx-auto pt-lg-4 pt-md-5 pt-4" style="max-width:1000px">
			<div class="row contact-block">
				<div class="col-md-5 contact-left">
					<h3 class="title-style font-weight-bold mb-4">Connect Us</h3>
					<div class="cont-details">
						<div class="d-flex contact-grid">
							<div class="cont-left text-center mr-3">
								<span class="fa fa-globe"></span>
							</div>
							<div class="cont-right">
								<h6>Company Address</h6>
								<p>10001, 5th Avenue, 12202 street, USA.</p>
							</div>
						</div>
						<div class="d-flex contact-grid mt-4 pt-lg-2">
							<div class="cont-left text-center mr-3">
								<span class="fa fa-phone"></span>
							</div>
							<div class="cont-right">
								<h6>Call Us</h6>
								<p><a href="tel:+1(21) 234 4567">+1(21) 112 7368</a></p>
							</div>
						</div>
						<div class="d-flex contact-grid mt-4 pt-lg-2">
							<div class="cont-left text-center mr-3">
								<span class="fa fa-envelope-open"></span>
							</div>
							<div class="cont-right">
								<h6>Email Us</h6>
								<p><a href="https://p.w3layouts.com/cdn-cgi/l/email-protection#96f3eef7fbe6faf3d6fbf7fffab8f5f9fb"
										class="mail"><span class="__cf_email__"
											data-cfemail="6b0e130a061b070e2b060a020745080406">[email&#160;protected]</span></a>
								</p>
							</div>
						</div>
						<div class="d-flex contact-grid mt-4 pt-lg-2">
							<div class="cont-left text-center mr-3">
								<span class="fa fa-headphones"></span>
							</div>
							<div class="cont-right">
								<h6>Customer Support</h6>
								<p><a href="https://p.w3layouts.com/cdn-cgi/l/email-protection#177e79717857646267677865633974787a"
										class="mail"><span class="__cf_email__"
											data-cfemail="f79e999198b784828787988583d994989a">[email&#160;protected]</span></a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7 contact-right mt-md-0 mt-4">
					<form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
						<div class="input-grids">
							<input type="text" name="w3lName" id="w3lName" placeholder="Your Name*"
								class="contact-input" required="" />
							<input type="email" name="w3lSender" id="w3lSender" placeholder="Your Email*"
								class="contact-input" required="" />
							<input type="text" name="w3lSubect" id="w3lSubect" placeholder="Subject*"
								class="contact-input" required="" />
							<input type="text" name="w3lWebsite" id="w3lWebsite" placeholder="Website URL*"
								class="contact-input" required="" />
						</div>
						<div class="form-input">
							<textarea name="w3lMessage" id="w3lMessage" placeholder="Type your message here*"
								required=""></textarea>
						</div>
						<button class="btn btn-style">Send Message</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- map -->
<div class="map-iframe">
	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2spl!4v1562654563739!5m2!1sen!2spl"
		width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
</div>
<!-- //contact page -->
<div style="margin: 8px auto; display: block; text-align:center;">

	<!---728x90--->

</div>
{% endblock %}
