{% extends "base.html" %}
{% block content %}
<!-- banner-2 -->
<div class="page-head_agile_info_w3l inner-checkout-page">
	<div class="container py-5">
		<h3 class="title-style text-white pt-5"><span>Product</span> Single Page</h3>
		<ul class="w3_short pt-3 pb-5">
			<li>
				<a href="/" class="text-white">Home</a>
				<i class="fa fa-angle-right mx-2 text-white" aria-hidden="true"></i>
			</li>
			<li class="text-light">Single Product 1</li>
		</ul>
	</div>
</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">

	</div>
</div>
<!-- //page -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->


</div>
<!-- Single Page -->
<div class="banner-bootom-w3-agileits py-5">
	<div class="container py-md-5 py-4">
		<div class="row">
			<div class="col-lg-5 col-md-8 single-right-left ">
				<div class="grid images_3_of_2">
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="/media/{{Product_data.Product_Image_1}}">
								<div class="thumb-image">
									<img src="/media/{{Product_data.Product_Image_1}}" data-imagezoom="true" class="img-fluid" alt=""> </div>
							</li>
							<li data-thumb="/media/{{Product_data.Product_Image_2}}">
								<div class="thumb-image">
									<img src="/media/{{Product_data.Product_Image_2}}" data-imagezoom="true" class="img-fluid" alt=""> </div>
							</li>
							<li data-thumb="/media/{{Product_data.Product_Image_3}}">
								<div class="thumb-image">
									<img src="/media/{{Product_data.Product_Image_3}}" data-imagezoom="true" class="img-fluid" alt=""> </div>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="col-lg-7 single-right-left simpleCart_shelfItem">
				<h3 class="mb-3">{{Product_data.Product_Name}}</h3>
				<p class="mb-3">
					<span class="item_price">{{Product_data.Product_Price}} Rs</span>
					<label>Free delivery</label>
				</p>
				<div class="single-infoagile">
					{{Product_data.Product_Offers}}
				</div>
				<div class="product-single-w3l">
					<p class="my-3">
						<i class="far fa-hand-point-right mr-2"></i>
						{{Product_data.Product_Description}}
						
						<p class="my-sm-4 my-3">
							<i class="far fa-hand-point-right mr-2"></i>Net banking & Credit/ Debit/ ATM card
						</p>
				</div>
				<div class="occasion-cart">
					<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
						<form action="/add_to_cart" method="post">{% csrf_token %}
							<fieldset>
								<input type="number" name="quantity" value="1" class="form-control my-2" placeholder="Product Quantity">
								<input type="hidden" name="pid" value="{{Product_data.id}}" />
								<input type="hidden" name="Product_Price" value="{{Product_data.Product_Price}}" />
								<input type="submit" name="submit" value="Add to cart" class="btn btn-style" />
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Single Page -->

<!-- middle section -->
<div class="join-w3l1 py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<div class="row">
			<div class="col-lg-6">
				<a href="/product_2">
					<div class="join-agile text-left p-4">
						<div class="row">
							<div class="col-sm-7 offer-name">
								<h6>New Collections, New Trendy</h6>
								<h4 class="mb-3">Smart Watches</h4>
								<p>Sale up to 25% off all in store</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="/static/images/off1.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-6 mt-lg-0 mt-4">
				<a href="/product">
					<div class="join-agile text-left p-4">
						<div class="row ">
							<div class="col-sm-7 offer-name">
								<h6>Top Brands, lowest Prices</h6>
								<h4 class="mb-3">Smart Phones</h4>
								<p>Free shipping order over $100</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="/static/images/off2.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- middle section -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90-->

</div>
{% endblock  %}
	