{% extends "base.html" %}

{% block content %}
<!-- banner-2 -->
<div class="page-head_agile_info_w3l inner-contact-page">
	<div class="container py-5">
		<h3 class="title-style text-white pt-5"><span>Terms</span> of use</h3>
		<ul class="w3_short pt-3 pb-5">
			<li>
				<a href="/" class="text-white">Home</a>
				<i class="fa fa-angle-right mx-2 text-white" aria-hidden="true"></i>
			</li>
			<li class="text-light">Terms</li>
		</ul>
	</div>
</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">

	</div>
</div>
<!-- //page -->
<div style="margin: 8px auto; display: block; text-align:center;">

	<!---728x90--->


</div>
<!-- terms -->
<div class="terms py-4">
	<div class="container py-md-5 py-4">
		<h3 class="w3-head w3-secong-head text-capitalize">please read these terms and conditions carefully.</h3>
		<h6 class="my-md-4 my-3">Personal Information</h6>
		<ol start="1" class="pl-sm-4 pl-3">
			<li class="font-weight-light pl-sm-4 mb-2">Lorem Ipsum is simply dummy text of the printing and
				typesetting industry.it has a more-or-less normal distribution of
				letters, as opposed Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
			</li>
			<li class="font-weight-light pl-sm-4 mb-2">Sed ut perspiciatis unde omnis iste natus error sit
				voluptatem accusantium doloremque laudantium, totam rem aperiam,
				eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				Nemo enim ipsam voluptatem
				quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</li>
			<li class="font-weight-light pl-sm-4 mb-2">Lorem Ipsum is simply dummy text of the printing and
				typesetting industry.it has a more-or-less normal distribution of
				letters, as opposed Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
			</li>
		</ol>

		<h6 class="my-md-4 my-3">License & Site access</h6>
		<p class="font-weight-light pl-sm-4 mb-2">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
			aut fugit, sed quia consequuntur magni dolores eos qui
			ratione voluptatem sequi nesciunt..</p>
		<p class="font-weight-light pl-sm-4 mb-2">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
			consectetur, adipisci velit, sed quia non numquam eius
			modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
		<p class="font-weight-light pl-sm-4 mb-2">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

		<h6 class="my-md-4 my-3">Eligibility :</h6>
		<p class="font-weight-light pl-sm-4 mb-2">If you are going to use a passage of Lorem Ipsum, you need to be
			sure there isn't anything embarrassing hidden in the
			middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
			necessary</p>
		<p class="font-weight-light pl-sm-4 mb-2">first true generator on the Internet. It uses a dictionary of over
			200 Latin words, combined with a handful of model sentence
			structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore
			always free from repetition,
			injected humour</p>

		<h6 class="my-md-4 my-3">Account & Registration</h6>
		<p class="font-weight-light pl-sm-4 mb-2">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
			Bonorum et Malorum" (The Extremes of Good and Evil)
			by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
			Renaissance. The
			first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
		<p class="font-weight-light pl-sm-4 mb-2">Latin professor at Hampden-Sydney College in Virginia, looked up
			one of the more obscure Latin words, consectetur, from
			a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
			undoubtable source.
			Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"</p>
		<p class="font-weight-light pl-sm-4 mb-2">This book is a treatise on the theory of ethics, very popular
			during the Renaissance. The first line of Lorem Ipsum, "Lorem
			ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

		<h6 class="my-md-4 my-3">Cancellation by Site / Customer</h6>
		<p class="font-weight-light pl-sm-4 mb-2"> Lorem Ipsum as their default model text, and a search for 'lorem
			ipsum' will uncover many web sites still in their infancy.
			Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected
			humour and the like).</p>
		<p class="font-weight-light pl-sm-4 mb-2"> Latin words, combined with a handful of model sentence
			structures, to generate Lorem Ipsum which looks reasonable. The
			generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic
			words etc.</p>

		<h6 class="my-md-4 my-3">You Agree and Confirm</h6>
		<p class="font-weight-light pl-sm-4 mb-2">There are many variations of passages of Lorem Ipsum available,
			but the majority have suffered alteration in some form,
			by injected humour, or randomised words which don't look even slightly believable. If you are going to
			use a passage
			of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All
			the Lorem Ipsum
			generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
			generator on the
			Internet.
		</p>
		<h6 class="my-md-4 my-3">Copyright & Trademark</h6>
		<p class="font-weight-light pl-sm-4 mb-2"> you need to be sure there isn't anything embarrassing hidden in
			the middle of text. All the Lorem Ipsum generators on
			the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the
			Internet. It
			uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures</p>
	</div>
</div>
<!-- //terms -->

<!-- middle section -->
<div class="join-w3l1 py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<div class="row">
			<div class="col-lg-6">
				<a href="/product_2">
					<div class="join-agile text-left p-4">
						<div class="row">
							<div class="col-sm-7 offer-name">
								<h6>New Collections, New Trendy</h6>
								<h4 class="mb-3">Smart Watches</h4>
								<p>Sale up to 25% off all in store</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="/static/images/off1.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-6 mt-lg-0 mt-4">
				<a href="/product">
					<div class="join-agile text-left p-4">
						<div class="row ">
							<div class="col-sm-7 offer-name">
								<h6>Top Brands, lowest Prices</h6>
								<h4 class="mb-3">Smart Phones</h4>
								<p>Free shipping order over $100</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="/static/images/off2.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- middle section -->
<div style="margin: 8px auto; display: block; text-align:center;">

	<!---728x90--->

</div>
{% endblock %}
